@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: var(--grey-palette-grey-30, #E8E9EA);
}


  input[type="radio"]::before {
    box-shadow:  inset 1em 1em #2164E8;
  }
  
  /* input[type="radio"]:checked::before {
    transform: scale(1);
  } */