@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
body{
    background: var(--grey-palette-grey-30, #E8E9EA);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}