@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
body{
    background: var(--grey-palette-grey-30, #E8E9EA);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    20%, 60% {
      transform: translateX(-5px);
    }
    40%, 80% {
      transform: translateX(5px);
    }
  }
  
  .animate-shake {
    animation: shake 0.5s ease-in-out;
  }
  